.button-send {
  padding: 16px 24px;
  background-color: #293241;
  color: #e0fbfc;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.button-send-dark {
  background-color: #c2dcdd;
  color: #293241;
}

.button-send-disabled {
  padding: 16px 24px;
  background-color: #293241b0;
  color: #e0fbfc80;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  border: none;
}

.button-send-disabled-dark {
  background-color: #e0fbfc80;
  color: #293241b0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-right: 2px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  border: 1px solid #293241;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #293241;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-adjust {
  font-size: 24px;
}

@media only screen and (max-width: 320px) {
  .content {
    width: calc(8px * 33);
  }

  .form-send input {
    padding: 8px;
  }

  .button-send {
    padding: 8px;
  }

  .button-send-disabled {
    padding: 8px;
  }

  .button-auth {
    padding: 8px;
  }
}
